/* General Footer Styles */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #1e293b; /* Dark background */
  color: #f1f5f9; /* Light text */
  font-family: "Inter", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  gap: 20px;
  align-items: start;
}

.footer-branding {
  grid-column: span 1;
}

.footer-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-description {
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-links-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.footer-heading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: #3b82f6; /* Accent color */
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Social Media Section */
.footer-social {
  grid-column: span 1;
  text-align: left;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-link {
  text-decoration: none;
  color: #3b82f6;
  font-size: 0.9rem;
}

.social-link:hover {
  text-decoration: underline;
}

/* Footer Bottom */
.footer-bottom {
  background-color: #111827; /* Darker background */
  text-align: center;
  padding: 10px 20px;
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .footer-links-section {
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }
  .social-icons {
    display: flex;
    flex-direction: column;
  }
  .footer-links-section div ul {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (600px<width<768px) {
  .footer-links-section {
    grid-template-columns: repeat(2,1fr);
    justify-items: flex-start;
  }
  .social-icons {
    display: flex;
    flex-direction: column;
  }
  .footer-links-section div ul {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 769px) {
  .footer-links-section {
    grid-template-columns: repeat(3,1fr);
    justify-items: flex-start;
  
}
}